
.page-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.page-body {
    flex: 100; /* balances out with sidebar */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}