

.art {
    flex: 64;
    width: 100%;
    background-color: rgb(255, 250, 245);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 90px;
    font-size: 28px;
}