

.media-bar {
    display: flex;
    flex-direction: row;
    flex: 3;
    gap: 10px;
    width: 100%;
    background-color: rgb(250, 244, 202);
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    justify-content: center;
    align-items: center;
}

.media-element {
    flex: 1;
    text-align: center;
    border-left: 1px black solid;
    border-right: 1px black solid;
    cursor: pointer;
}

.media-element:first-child {
    border-left: transparent;
}

.media-element:last-child {
    border-right: transparent;
}

.media-element:hover {
    background-color: rgb(212, 237, 245);
}

