

.user-deets {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    height: 50vh;
    width: 100%;
    background-color: rgb(255, 250, 245);
    padding: 10px; 
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.user-body {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
    padding: 10px 20px 0px 20px;
}

.user-profile-pic {
    width: 20%;
    border: 5px rgb(238, 190, 100) solid;
    box-shadow: 0 0 0 1px black;
    border-radius: 5px;
    cursor: pointer;
}

.user-profile-pic img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    /* border-radius: 5px; */
}


.user-fields {
    /* position: relative; */
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;

    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    position: relative;
}


.user-name {
    display: flex;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

.user-location {
    display: flex;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.user-field-element {
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.user-name textarea {
    height: 100%;
    font-size: 1.3rem;
}

.user-location .user-city {
    width: 80%;
    height: 100%;
    font-size: 1rem;
}

.user-location .user-state {
    width: 20%;
    height: 100%;
    font-size: 1rem;
}

.artist-statement-label {
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 20px;
}

.user-bio {
    font-family: system-ui, sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

.submit-profile {
    position: absolute;
    bottom: 6px;
    right: 6px;
    border: 1px solid black;
    background-color: lightgreen;
    cursor: pointer;
}

.submit-profile:hover {
    transform: scale(1.05);
}

.submit-profile:active {
    background-color: rgb(119, 197, 119);
    transform: scale(.95);
}
