

.user-deets {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    height: 50vh;
    width: 100%;
    background-color: rgb(255, 250, 245);
    padding: 10px; 
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.user-body {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
    padding: 10px 20px 0px 20px;
}

.user-profile-pic {
    width: 20%;
    border: 1px black solid;
    border-radius: 5px;
    cursor: pointer;
}

.user-profile-pic img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 5px;
}


.user-fields {
    position: relative;
    width: 75%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}

.uf-left {
    width: 30%;
    height: 100%;
    border-right: 1px black solid;
    padding: 0 10px 0 0;
}

.user-name {
    display: flex;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

.user-field-element {
    display: flex;
    flex-direction: column;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.uf-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    height: 100%;
    padding: 10px 10px 0 10px;
}

.question-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid black;
}

.question-wrapper:last-child {
    border-bottom: transparent;
}

.question {
    display: flex;
    width: auto;
    border-bottom: 1px black solid;
    font-style: bold;
}

.answer {
    display: flex;
    width: 100%;
}
