

.search-box {
    width: 400px;
    height: 10px;
}

.search-box input {
    position: absolute;
    top: -10px;
    border-radius: 0%;
    border: 1px black solid;
    width: 400px;
    height: 30px;
    padding-left: 5px;
}

.select-container {
    position: absolute;
    top: 200%;
    left: 0;
    min-height: 23px;
    width: 400px;
    padding: 4px;
    border: 1px black solid;
    background-color: rgb(250, 244, 202);
}

.select-item {
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px black solid;
    margin: 4px;
    background-color: white;
}

.select-item:hover {
    background-color: rgb(238, 190, 100);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}