
.dropdown {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.search-box {
    width: 100%;
}

.search-box input {
    width: 100%;
    box-sizing: border-box;
    border: 1px black solid;
    height: 30px;
    padding: 4px;
}

.select-container {
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 10;
    max-height: 200px;
    border: 1px black solid;
    background-color: rgb(250, 244, 202);
    overflow-y: auto;
}

.select-item {
    display: flex;
    align-items: center;
    border: 1px black solid;
    background-color: white;
    padding: 4px;
    margin: 2px;
    cursor: pointer;
}

.select-item:hover {
    background-color: rgb(238, 190, 100);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
