
.dropdown {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.search-box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.search-box input {                                                                                                                         
      position: absolute;                                                                                                                     
      width: 100%;                                                                                                                          
      box-sizing: border-box;                                                                                                                 
      border-radius: 0%;
      border: 1px black solid;
      height: 30px;
      padding: 4px;
  }   

.select-container {
    position: absolute;                                                                                                                     
    top: 30px;                                                                                                                              
    width: 100%;                                                                                                                          
    z-index: 10; 
    height: auto;
    min-height: 23px;
    max-height: 200px;
    border: 1px black solid;
    background-color: rgb(250, 244, 202);
    overflow-y: auto;
    padding: 2px;
}

.select-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    border-bottom: transparent;
    background-color: white;
}

.select-item:last-child {
    border-bottom: 1px solid black;
}

.select-item:hover {
    background-color: rgb(238, 190, 100);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}